.zoom-img {
  transition: transform 0.2s ease-in-out;
}
.zoom-img:hover {
  transform: scale(0.9);
}
.zoom-button {
  transition: transform 0.2s ease-in-out;
}
.zoom-button:hover {
  transform: scale(1.1);
}
